.pagination {
  display: flex;
  align-items: center;
  color: #808080;
  margin-top: auto;
  margin-left: auto;
}
.button {
  padding: 2px 6px;
  margin: 0 5px;
  background-color: transparent;
  border: none;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #808080;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: #0064eb;
    color: #fff;
  }
}
.currentPage {
  background: #0064eb;
  color: #fff;
}
.text {
  margin-right: 24px;
  font-size: 14px;
  line-height: 21px;
}
.dots {
  padding: 0;
  pointer-events: none;
}

.icon {
  :last-child {
  }
}
.changePageButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  &:first-of-type {
    margin-right: 14px;
  }
  &:last-of-type {
    margin-left: 14px;
    transform: rotate(180deg);
  }
  &:hover .icon {
    fill: #0064eb;
  }
  &:disabled {
    pointer-events: none;
  }
}
@media (max-width: 1024px) {
  .repoContainer {
    flex-direction: column;
  }
  .userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: none;
    margin-bottom: 32px;
  }
  .userFollowing {
    margin-left: 24px;
  }
  .pagination {
    margin-top: 24px;
  }
}
@media (max-width: 540px) {
  .pagination {
    margin-left: auto;
    margin-right: auto;
  }
  .text {
    display: none;
  }
}
