.repos {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  position: relative;
}

.title {
  font-size: 32px;
  font-weight: 600;
  line-height: 41.6px;
  margin-bottom: 29px;
}
.loader {
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
}
@media (max-width: 540px) {
  .title {
    font-size: 26px;
    line-height: 33.8px;
    align-self: center;
  }
}
