.repoContainer {
  display: flex;
  flex: 1 1;
  height: 100%;
  width: 100%;
  position: relative;
}

.repos {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.repoTitle {
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  margin-bottom: 29px;
}
.reposTitle {
  font-size: 32px;
  font-weight: 600;
  line-height: 41.6px;
  margin-bottom: 29px;
}
.loader {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1024px) {
  .repoContainer {
    flex-direction: column;
  }
}
